<div v-for="item in newsWidget.news" class="new">
	<div class="time">
		<% item.time %>
		<span class="flag" v-html="item.flag"></span>
		<img v-if="item.logo"  v-bind:src="item.logo"/>
	</div>
	<div class="content" v-bind:class="{ important: item.important }">
		<div v-if="item.title" v-html="item.title" class="newCaption"></div>
		<div v-html="item.html" class="html"></div>
		<div v-html="item.md5" class="hidden js-newContent"></div>
		<a onclick="return openBrowser(this);" v-if="item.link" v-bind:href="item.link">link</a> 
	</div>
</div>