keys:
    lastfm: <samplekey>
    golemio: <samplekey>
systemLimits:
systemLimits:
    cpu:
        temperature: 60
        load:75
    gpu:
        temperature: 50
        load:80
    memory: 14
    storage: 30
ups:
    name: myups
macros:
   - caption: firefox
     icon: fa-firefox
     command: firefox
     position: right
   - caption: chrome
     icon: fa-chrome
     command: chromium
   - delimiter: yes
   - caption: files
     icon: fa-folder
     command: krusader
   - caption: music
     icon: fa-music
     command: audacious
   - caption: email
     icon: fa-envelope
     notification: "mail && mail.unread > 0 ? mail.unread : '';"
   - caption: eclipse
     icon: fa-code
clients:
    - 192.168.0.2
sidebar:
    - time
    - temperatures
    - cpu
    - memory
    - keyboard
    - date
mainpanel:
    - macros
    - processes
    - sysinfo
    - fans
    - network
    - upsstatus
    - numkeyboard
    - downloads
    - music
    - covid
    - hospitals
    - files
    - transport
    - trafficcams
    - covid.news
geolocation:
    latitude: 50.1212121
    longitude: 14.1213132
mail:
    host: imap.server.example
    port: 993
    username: user@server.com
departures:
    - Muzeum
    - Můstek
icuMonitor:
    ip: 192.168.1.90