@colorMain: #22cc78;
@colorReversed: #000000;

@colorFontMain: @colorMain;
@colorFontReversed: @colorReversed;

@colorBorder: @colorMain;

@colorGraph: gray;

@colorBackgroundApp:#202020;
@colorBackgroundBox:#000000;

@colorIconDisabled: #444444;
