.covid {
	.new {
		clear:both;
		border-bottom: 1px dotted @colorBorder;
		margin-bottom:10px;
		 
		.time {
			width:100px;
			padding-top:10px;
			float:left;
			font-size:23px;
			text-align:center;
			font-weight:bold;

		}
		
		.content {
			font-size:20px;
			float:left;
			width: -webkit-calc(100% - 120px);
			width:    -moz-calc(100% - 120px);
			width:         calc(100% - 120px);
		
			div, p {
				display:inline-block;
			}
			
		}
	}
}