table {
	position: relative;
	border-collapse: collapse; 
	top:0px;
	font-size: 1.3em;
	width:100%;
	th {
		top:0px;
		position: sticky;
		background-color: @colorMain;
		color: @colorReversed;
		white-space: nowrap;
		text-align: left;
		text-transform: uppercase;
		padding: 6px;
	}
	tbody {
		td {
			white-space: nowrap;
			padding:6px 6px 0px 11px;;
			border-right:1px solid @colorMain;
		}

		td.value {
			text-align:right;
		}
		
		.groupDelimiter {
			border-right:2px solid @colorMain;
		}
	}
}