.header{
	padding-left:15px;
	 .time {
		font-size:60px;
		font-weight:bold;
		margin-right:20px;
	}

	.date { 
		font-size:20px;
	}

	.datetime {
		float:left;	
	}

	.logo {
		margin-left:38px;
		float: left;
		font-family: 'Logo';
		font-size:42px;
	}

	.statusbar {
		float:right;
		padding-right:20px;
		.fulscreen {
			cursor:pointer;
		}

		.icon-off {
			color: @colorIconDisabled;
		}

		.icon {
			cursor: pointer;
			width:auto;
			margin-left: 5px;
		}
	}

}
