.header{
	.logo {
		margin-left:38px;
		float: left;
		font-family: 'Logo';
		font-size:42px;
	}

	.statusbar {
		float:right;
		padding-right:20px;
		margin-top:10px;
		.fulscreen {
			cursor:pointer;
		}

		.icon-off {
			color: @colorIconDisabled;
		}

		.icon {
			cursor: pointer;
			width:auto;
			margin-left: 5px;
		}
	}

}
