.icon {
	text-align:center;
	margin: 15px;
	width:80px;
	display:inline-block;
	cursor:pointer; // https://stackoverflow.com/questions/3025348/how-do-i-use-jquery-for-click-event-in-iphone-web-application
	.caption {
		margin-top:3px;
		display:inline-block;
		font-size:21px;		
	}
	
}