.lastfmTrackInfo {
	max-height:100%;
	.cover {
		max-height:100%;
		float:right;
		img {
			max-height:100%;
		}
		
	}

	div {
		margin:0px;
		padding:0px;
	}	
	.metadata {
		padding-left: 10px;
		float:left;
	
		.artist {
			font-size: 30px;
		}
		
		.album {
			font-size:28px;
		}
		
		.tags {
			padding:0px;
		 	li {
				display:block;
				font-size: 27px;
			}	
			
			li::before {
				content: '#';
			}
			
		}
		.song {
			font-size: 42px;
			font-weight: bold;
		}
	}
}