body {
	background-color: @colorBackgroundApp;
	overflow:hidden;
}

.header {
	.time {
		display:inline-block;
	}

	.date {
		display:inline-block;
	}
}

.body {
	position:absolute;
	top:80px;
	left:0px;
	right:0px;
	bottom:20px;
	z-index:1;
	
	.main{
		float:left;
		width: -webkit-calc(100% - 20px);
		width:    -moz-calc(100% - 20px);
		width:         calc(100% - 285px);
		height: -webkit-calc(100% - 190px);
		height:    -moz-calc(100% - 190px);
		height:         calc(100% - 190px);
			
		.swiper {
			height:100%;
			overflow-y:scroll;
			overflow-x:hidden;
		}
	}

	.side {
		width:280px;
		float:right;		
	}
}

.cell-50 {
	display:inline-block;
	width:49%;
}

.template {
	display:none;
}