body {
	background-color: #000000;
}

.header {
	.time {
		display:inline-block;
	}

	.date {
		display:inline-block;
		
	}
}

.body {
	.main {
		display:inline-block;
	}
	
	.side {
		display:inline-block;
		width:250px;
		float:right;		
	}
}

.cell-50 {
	display:inline-block;
	width:49%;
}

.template {
	display:none;
}