.taskbar {
	white-space: nowrap;
	height: 72px;

	.taskbarInner {
		margin-left: 25px;
		margin-right:25px;
		overflow: scroll;

		i {
			padding:11px 20px;
			border-right: 1px dotted @colorBorder;
			margin:0px;
			width: 44px;
			padding-bottom: 16px;

			.notification {
				display:inline-block;
				background-color:@colorMain;
				color:@colorFontReversed;
				top: 11px;
				font-size:20px;
				width:21px;
				text-align:center;
				padding:2px;
				.borderRadius(8px);
				position:relative;
				margin-right:-25px;
				top:-29px;
				left:-12px;
			}
			.notification.alert {
				background-color:red;
			}
		}

		.grouped {
			padding-left: 35px;
			padding-right: 15px;
			position: relative;
			top: -3px;
			.notification {
				left: -78px;
				top: -26px; 
			}
			i {
				position: relative;
				left: -80px;
				top: -16px;
				width: 20px;
				height: 18px;
			}
		}
	}

	.active {
		background-color:@colorMain;
		color:@colorFontReversed;
	}

}
