<div class="template js-template-macro icon js-macro" data-hash="">
	<i class="fa fa-4x"></i> <br/>
	<span data-templatePlaceholder="caption" class="caption">asdf</span>
</div>

<div class="main">
	<div class="box taskbar">
		<template v-for="pane, key in config.panes">
			<i v-if="pane == 'macros'" class="fas fa-icons fa-3x" v-bind:class="{active: currentPanel == key}" v-on:click="currentPanel = key"></i>
			<i v-if="pane == 'processes'" class="fas fa-list fa-3x" v-bind:class="{active: currentPanel == key}" v-on:click="currentPanel = key"></i>
			<i v-if="pane == 'loadgraphs'" class="fas fa-chart-line fa-3x" v-bind:class="{active: currentPanel == key}" v-on:click="currentPanel = key"></i>
			<i v-if="pane == 'sysinfo'" class="fas fa-info-circle fa-3x" v-bind:class="{active: currentPanel == key}" v-on:click="currentPanel = key"></i>
			<i v-if="pane == 'numkeyboard'" class="fas fa-calculator fa-3x" v-bind:class="{active: currentPanel == key}" v-on:click="currentPanel = key"></i>
			<i v-if="pane == 'downloads'" class="fas fa-download fa-3x" v-bind:class="{active: currentPanel == key}" v-on:click="currentPanel = key">
				<span class="notification" v-if="downloads.length > 0"><% downloads.length %></span>
			</i>
			<i v-if="pane == 'music'" class="fas fa-music fa-3x" v-bind:class="{active: currentPanel == key}" v-on:click="currentPanel = key"></i>
			<i v-if="pane == 'covid'" class="fas fa-viruses fa-3x" v-bind:class="{active: currentPanel == key}" v-on:click="currentPanel = key" data-tabId="covidNews">
				<span class="notification" v-if="covidWidget.unread > 0" v-html="covidWidget.unread"></span>
			</i>
			<i v-if="pane == 'hospitals'" class="fas fa-hospital-user fa-3x" v-bind:class="{active: currentPanel == key}" v-on:click="currentPanel = key"></i>
			<i v-if="pane == 'ping'" class="fas fa-sync fa-3x" v-bind:class="{active: currentPanel == key}" v-on:click="currentPanel = key">
				<span class="notification alert" v-if="pingWidget.disconnected || pingWidget.time > 500">!</span>
			</i>
		</template>
	</div>

	<div class="box swiper" id="mainSwipingPanel">
		<template v-for="pane, key in config.panes">
			<div v-if="pane == 'macros'" v-show="currentPanel == key"><!--(bake mainpanel/macros.html)--></div>
			<div v-if="pane == 'processes'" v-show="currentPanel == key"><!--(bake mainpanel/processGrid.html)--></div>
			<div v-if="pane == 'loadgraphs'" v-show="currentPanel == key"><!--(bake mainpanel/graph.html)--></div>
			<div v-if="pane == 'sysinfo'" v-show="currentPanel == key" class="sysinfo"><!--(bake mainpanel/sysinfo.html)--></div>
			<div v-if="pane == 'numkeyboard'" v-show="currentPanel == key"><!--(bake mainpanel/keyboard.html)--></div>
			<div v-if="pane == 'downloads'" v-show="currentPanel == key" class="downloads"><!--(bake mainpanel/downloads.html)--></div>
			<div v-if="pane == 'music'" v-show="currentPanel == key"><!--(bake mainpanel/lastfmTrackInfo.html)--></div>
			<div v-if="pane == 'covid'" v-show="currentPanel == key" class="covid"><!--(bake mainpanel/covid.html)--></div>
			<div v-if="pane == 'hospitals'" v-show="currentPanel == key"><!--(bake mainpanel/covidHospitals.html)--></div>
			<div v-if="pane == 'ping'" v-show="currentPanel == key"><!--(bake mainpanel/ping.html)--></div>
		</template>
	</div>
	<!--(bake media.html)-->
</div>

<div class="side">
	
	<!--(bake sidebar/keyboard.html)-->
	<!--(bake sidebar/temperature.html)-->
	<!--(bake sidebar/cpu.html)-->
	<!--(bake sidebar/memory.html)-->	
	<!--(bake sidebar/storages.html)-->	
</div>