<div class="template js-template-macro icon js-macro" data-hash="">
	<i class="fa fa-4x"></i> <br/>
	<span data-templatePlaceholder="caption" class="caption">asdf</span>
</div>

<div class="main">
	<div class="box taskbar">
		<div class="taskbarInner">

			<template v-for="pane, key in config.panes">
				<i v-if="pane == 'macros'" class="fas fa-icons fa-3x" v-bind:class="{active: currentPanel == key}" v-on:click="currentPanel = key"></i>
				<i v-if="pane == 'processes'" class="fas fa-window-restore fa-3x" v-bind:class="{active: currentPanel == key}" v-on:click="currentPanel = key"></i>
				<i v-if="pane == 'fans'" class="fas fa-fan fa-3x" v-bind:class="{active: currentPanel == key}" v-on:click="currentPanel = key"></i>
				<i v-if="pane == 'sysinfo'" class="fas fa-laptop fa-3x" v-bind:class="{active: currentPanel == key}" v-on:click="currentPanel = key">
					<span class="notification alert" v-if="systemInfoWidget.alert">!</span>
				</i>
				<i v-if="pane == 'numkeyboard'" class="fas fa-calculator fa-3x" v-bind:class="{active: currentPanel == key}" v-on:click="currentPanel = key"></i>
				<i v-if="pane == 'downloads'" class="fas fa-download fa-3x" v-bind:class="{active: currentPanel == key}" v-on:click="currentPanel = key">
					<span class="notification" v-if="downloads.length > 0"><% downloads.length %></span>
				</i>
				<i v-if="pane == 'music'" class="fas fa-music fa-3x" v-bind:class="{active: currentPanel == key}" v-on:click="currentPanel = key"></i>
				<i v-if="pane == 'covid'" class="fas fa-viruses fa-3x" v-bind:class="{active: currentPanel == key}" v-on:click="currentPanel = key" data-tabId="covidNews">
					<span class="notification" v-if="covidWidget.unread > 0" v-html="covidWidget.unread"></span>
				</i>
				<i v-if="pane == 'hospitals'" class="fas fa-hospital-user fa-3x" v-bind:class="{active: currentPanel == key}" v-on:click="currentPanel = key"></i>
				<i v-if="pane == 'network'" class="fas fa-globe fa-3x" v-bind:class="{active: currentPanel == key}" v-on:click="currentPanel = key">
					<span class="notification alert" v-if="networkWidget.disconnected || networkWidget.time > 500">!</span>
				</i>
				<i v-if="pane == 'files'" class="fas fa-folder-open fa-3x" v-bind:class="{active: currentPanel == key}" v-on:click="currentPanel = key"></i>
				<i v-if="pane == 'upsstatus'" class="fas fa-charging-station fa-3x" v-bind:class="{active: currentPanel == key}" v-on:click="currentPanel = key"></i>
				<i v-if="pane == 'mail'" class="fas fa-envelope fa-3x" v-bind:class="{active: currentPanel == key}" v-on:click="currentPanel = key">
					<span class="notification" v-if="!mail.errorOnConnect && mail.unread > 0" v-html="mail.unread"></span>
					<span class="notification alert" v-if="mail.errorOnConnect">!</span>
				</i>
			</template>
		</div>
	</div>

	<div class="box swiper" id="mainSwipingPanel">
		<template v-for="pane, key in config.panes">
			<div v-if="pane == 'macros'" v-show="currentPanel == key"><!--(bake mainpanel/macros.html)--></div>
			<div v-if="pane == 'processes'" v-show="currentPanel == key"><!--(bake mainpanel/processGrid.html)--></div>
			<div v-if="pane == 'sysinfo'" v-show="currentPanel == key" class="sysinfo"><!--(bake mainpanel/sysinfo.html)--></div>
			<div v-if="pane == 'fans'" v-show="currentPanel == key" class="fans"><!--(bake mainpanel/fans.html)--></div>
			<div v-if="pane == 'numkeyboard'" v-show="currentPanel == key"><!--(bake mainpanel/keyboard.html)--></div>
			<div v-if="pane == 'downloads'" v-show="currentPanel == key" class="downloads"><!--(bake mainpanel/downloads.html)--></div>
			<div v-if="pane == 'music'" v-show="currentPanel == key"><!--(bake mainpanel/lastfmTrackInfo.html)--></div>
			<div v-if="pane == 'covid'" v-show="currentPanel == key" class="covid" id="covid"><!--(bake mainpanel/covid.html)--></div>
			<div v-if="pane == 'hospitals'" v-show="currentPanel == key" id="covidHospitals"><!--(bake mainpanel/covidHospitals.html)--></div>
			<div v-if="pane == 'network'" v-show="currentPanel == key"><!--(bake mainpanel/network.html)--></div>
			<div v-if="pane == 'files'" v-show="currentPanel == key"><!--(bake mainpanel/files.html)--></div>
			<div v-if="pane == 'upsstatus'" v-show="currentPanel == key" id="upsStatus" class="upsStatus"><!--(bake mainpanel/upsStatus.html)--></div>
			<div v-if="pane == 'mail'" v-show="currentPanel == key" id="mailClient" class="mailClient"><!--(bake mainpanel/mail.html)--></div>
		</template>
	</div>
	<!--(bake media.html)-->
</div>
