<div class="datetime">
	<div class="time">
		<% datetime.time %>
	</div>

	<div class="date">
		<span><% datetime.date %></span><br/>
		Svátek má <span><% datetime.holiday %></span>
	</div>
</div>
<div class="logo">
	<object data="svg/logo.svg" type="image/svg+xml" height="80"></object>
</div>
<div class="statusbar">
	<i class="fa fa-2x icon fa-bell" id="icoSound" v-if="sound" v-on:click="toggleSound()"></i>
	<i class="fa fa-2x icon fa-bell-slash icon-off" id="icoSound" v-if="!sound" v-on:click="toggleSound()"></i>
	
	<i class="fa fa-2x icon fa-unlock" v-if="noSleep" v-on:click="toggleNoSleep()"></i>
	<i class="fa fa-2x icon fa-lock icon-off" v-if="!noSleep" v-on:click="toggleNoSleep()"></i>
	
	<i class="fa fa-2x icon fa-arrows-alt icon-off" v-if="!fullScreen" v-on:click="toggleFullScreen()"></i>
	<i class="fa fa-2x icon fa-compress-arrows-alt" v-if="fullScreen" v-on:click="toggleFullScreen()"></i>
</div>