<div class="box js-temperature">
	<div class="title"><i class="fas fa-thermometer-three-quarters"></i>Temperature</div>
	<div class="content">
		<div class="cell-50">
			<div class="caption">CPU</div>
			<div class="value" v-bind:class="{alert: systemInfo.temperatures.cpu > config.hwLimits.cpu.temperature}">
				<% systemInfo.temperatures.cpu %> &#176;C
			</div>
		</div>
		<div class="cell-50">
			<div class="caption">GPU</div>
			<div class="value" v-bind:class="{alert: systemInfo.temperatures.gpu > config.hwLimits.gpu.temperature}">
				<% systemInfo.temperatures.gpu%> &#176;C
			</div>
		</div>
	</div>
</div>
