<table>
	<thead>
		<tr>
			<th>Region</th>
			<th colspan="2">
				<i class="fas fa-lungs"></i>
				free / total
			</th>
			<th colspan="2">
				<i class="fas fa-heartbeat"></i>
				free (c / nc) / total
			</th>
			<th colspan="2">
				<i class="fas fa-bed"></i>
				free(c / nc) / total
			</th>			
			
			
			<th class="ta-center">
				<i class="fas fa-user-nurse"></i>
			</th>
			<th class="ta-center">
				<i class="fas fa-user-md"></i>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr v-for="region, regionName in covid.hospitalCapacities">
			<td class="groupDelimiter"> <% regionName %>&nbsp; </td>
			<td class="value"> 
				<% region[0].upv.free %>
				(<% (region[0].upv.free * 100 / region[0].upv.total).toFixed(1) %> %)
			</td>
			<td class="value groupDelimiter"> <% region[0].upv.total %> </td>
			<td class="value"> 
				<% region[0].icu.free.covid %> / <% region[0].icu.free.noncovid %>
				(<% ((region[0].icu.free.covid + region[0].icu.free.noncovid) * 100 / region[0].icu.total).toFixed(1) %>%) 
				
			</td>
			<td class="value groupDelimiter"> <% region[0].icu.total %> </td>
			<td class="value"> 
				<% region[0].standard.free.covid %> / <% region[0].standard.free.noncovid %>
				(<% ((region[0].standard.free.covid + region[0].standard.free.noncovid) * 100 / region[0].standard.total).toFixed(1) %>%) 
			</td>
			<td class="value groupDelimiter"> <% region[0].standard.total %> </td>
			<td class="value groupDelimiter"> <% region[0].nurses %> </td>
			<td class="value"> <% region[0].doctors %> </td>
		</tr>
	</tbody>
</table>