<div class="news">
	<div v-for="item in covid.news" class="new">
		<div class="time">
			<% item.time %>
			<span class="flag" v-html="item.flag"></span>
		</div>
		<div class="content" v-bind:class="{ important: item.important }">
			<div v-if="item.title" v-html="item.title" class="newCaption"></div>
			<div v-html="item.html" class="js-newContent"></div>
			<a onclick="return openBrowser(this);" v-if="item.link" v-bind:href="item.link">link</a> 
		</div>
	</div>
</div>
<div class="stats">
	<div class="stat">
		<div class="pesLevel" v-bind:class="'pes' + covid.stats.pes.level">
			<div class="inner" v-bind:style="{ height: (0.7 * (100 - covid.stats.pes.score)) + 'px' }"></div>
		</div>
		<i class="fas fa-dog fa-3x"></i>
		<span class="number"> <% Number(covid.stats.pes.score).toLocaleString() %> </span>
		
	</div>
	
	<div class="stat">
		<i class="fas fa-head-side-virus fa-3x"></i>
		<span class="number"> <% Number(covid.stats.cases.yesterday).toLocaleString() %> </span>
	</div>
	
		<div class="stat">
		<i class="fas fa-microscope fa-3x"></i>
		<span class="number"> <% Number(covid.stats.tests).toLocaleString() %> </span>
	</div>	
	
	
	<div class="stat">
		<i class="fas fa-head-side-cough fa-3x"></i>
		<span class="number"> <% Number(covid.stats.cases.total).toLocaleString() %> </span>
	</div>
	
	<div class="stat">
		<i class="fas fa-hospital-user fa-3x"></i>
		<span class="number"> <% Number(covid.stats.hospitalised).toLocaleString() %> </span>
	</div>
	

	
	<div class="stat">
		<i class="fas fa-cross fa-3x"></i>
		<span class="number"> <% Number(covid.stats.deaths).toLocaleString() %> </span>
	</div>
	

</div>