<div  class="fan header">
	<span class="label">&nbsp;</span>
	<span class="value">current</span>
	<span class="value">min</span>
	<span class="value">max</span>
	<span class="value">util</span>
</div>
<div v-for="fan, name in systemInfo.fans" class="fan">
	<span class="label">
		<i class="fas fa-fan"></i>
		<% name %>:
	</span>
	<span class="value">
		<% fan.speed %> RPM
	</span>
	<span class="value" v-if="fan.min">
		<% fan.min %> RPM
	</span>
	<span class="value" v-if="fan.max">
		<% fan.max %> RPM
	</span>
	<span class="value graph" v-if="fan.speed">
		<div class="bar"><div class="full" v-bind:style="{width: (Number(fan.utilisation)) + '%' }"></div></div>
	</span>
</div>