<template v-for="macro in macros">
	<div 
		class="icon"
		v-bind:class="{disabled: macrosWidget.enableStates != null && macrosWidget.enableStates[macro.hash] != true}" 
		data-hash="" 
		v-on:click="runMacro(macro.hash);gui.bounce('icon_' + macro.hash)" 
		v-if="!macro.isDelimiter" 
		v-bind:style="'float:' +macro.position"
		v-bind:id="'icon_' + macro.hash"
	>
		<img v-if="macro.subIconImage" v-bind:src="'data:' +macro.subIconImage" class="subIcon"/>
		<span v-if="macro.notification" class="notification"><% eval(macro.notification)%></span>
		<i class="fa fa-4x" v-bind:class="[macro.icon]" v-if="macro.icon"></i> 
		<img v-if="macro.iconImage" v-bind:src="'data:' +macro.iconImage" class="mainIcon"/>
		<br/>
		<span data-templatePlaceholder="caption" class="caption"><% macro.caption %></span>
	</div>
	<div v-if="macro.isDelimiter" class="clear"></div>
</template>