<div class="inner" v-if="meteo.meteoData != null">
	<div class="temperature">
		<div class="symbol">
			<i class="fas fa-temperature-low fa-2x"></i>
		</div>
		<div class="data">
			<div>
				<i class="fas fa-cloud"></i>
				<% meteo.meteoData.temperature.air %> &deg;C
			</div>
			<div>
				<i class="fas fa-road"></i>
				<% meteo.meteoData.temperature.road %> &deg;C
			</div>
		</div>
	</div>
	<div class="wind">
		<div class="symbol">
			<i class="fas fa-wind fa-2x"></i>
		</div>
		<div class="data">
			<div>
				<div>
					<% meteo.meteoData.wind.speed %> m/s <br/>
					<span class="small"><% (meteo.meteoData.wind.speed * 3.6).toFixed(1) %> km/h</span> 
				</div>
				<i class="fas fa-arrow-up" v-bind:style="{transform: 'rotate(' + meteo.meteoData.wind.direction + 'deg)' }"></i>
			</div>
			
		</div>
	</div>
	<div class="humidity">
		<div class="symbol">
			<i class="fas fa-tint fa-2x"></i>
		</div>
		<div class="data">
			<div>
				<% meteo.meteoData.humidity %>%
			</div>
			
		</div>
	</div>
	
	<div class="station">
		<div class="w50">
			<i class="fas fa-map-marker-alt"></i>
			<% meteo.meteoData.station.name %>
		</div>
		<div class="w50">
			<% (new Date(meteo.meteoData.station.updated)).toLocaleTimeString() %>
		</div>
	</div>
</div>
<div v-else></div>