.keyboard {
	text-align:center;
	padding-top:10px;
	button {
		font-family: monospace;
		font-size:40px;
		font-weight:bold;
		background-color:@colorBackgroundBox;
		border:4px solid @colorBorder;
		color:@colorMain;
		margin:5px;
		padding:15px 25px 15px 25px;
		.borderRadius(35px);
		
		&.double {
			padding:15px 70px 15px 70px;
		}	
	}
	

	
	
}